HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
src/main/java/pl/visa/labmanager/CsvFilesParser/DbLogDetails.java
src/main/resources/SubstancesFileToParse.csv
src/main/java/pl/visa/labmanager/container/test_reqs/test.http
src/main/java/pl/visa/labmanager/substance/test_reqs/addAltName.http
src/main/java/pl/visa/labmanager/location/zone/test_reqs/post.http
src/main/java/pl/visa/labmanager/location/lab/test_reqs/delete.http
src/main/java/pl/visa/labmanager/substance/test_reqs/addAltName.http